@font-face { font-family: AlegreyaSansSC-Bold; src: url('AlegreyaSansSC-Bold.ttf'); } 

body{
    margin: 0;
    padding: 0;
    background: rgb(50, 50, 50);
    font-family: AlegreyaSansSC-Bold;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(150, 150, 150);
}

.navbar ul{
    list-style: none;
    background-color: rgb(150, 150, 150);
    /* background: #c25b08; */
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li{
    display: inline-block;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
}

a::after{
    content: "\a";
    white-space: pre;
}

#quoteID{
    white-space: pre-line;
}

#firstDiv{
    padding: 1rem;
    width: 500px;
}

#secondDiv{
    padding: 1rem;
    width: 500px;
}

#thirdDiv{
    padding: 1rem;
    width: 500px;

}

#canvasDiv{
    text-align: center;
    padding-top: 0;
}

#canvas{
    background-color: rgb(0, 0, 0);
    margin-top: 5px;
}

.navbarButton{
    width: 120px;
    height: 50px;
    border-radius: 15%;
    background-color: rgb(220, 220, 220);
    border-style: solid;
    border-color: white;
    margin: 2rem;
    font-family: AlegreyaSansSC-Bold;
    font-size:large;
    cursor: pointer;
}

.navbarButton:hover{
    background-color: rgb(227, 88, 8);
}

.button{
    border-radius: 70%;
    background-color: rgb(220, 220, 220);
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 100px;
    height: 100px;
    animation: paused;
    cursor: not-allowed;
}

.centerButtonImg{
    width: 5rem;
    height: 5rem;
}

@keyframes pulse {
    0% {transform: scale(1);}
    70% {transform: scale(0.85);}
    100% {transform: scale(1);}
  }

@keyframes blinkingButton{
    0%{
        background-color: rgb(220, 220, 220);
    }
    50%{
        background-color: rgb(227, 88, 8);
    }
    100%{
        background-color: rgb(220, 220, 220);
    }
}

.choice1{
    grid-area: left1;
    align-self: center;
}
.choice2{
    grid-area: left2;
    align-self: center;
}
.choice3{
    grid-area: left3;
    align-self: center;
}

#pointer{
    grid-area: right;
    padding-left: 0cm;
    align-self: center;
}

#history{
    grid-area: rightBot;
    text-align: center;
    padding-top: 1rem;
    white-space: pre-line;
}

#currentGame{
    grid-area: rightTop;
    text-align: center;
    padding-top: 1rem;
    white-space: pre-line;
}

.canvas1{
    grid-area: main;
    text-align: center;
    min-width: 200px;
}

.lineStyle{
    white-space: pre;
}

.flex-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(100, 100, 100);
    width: 100%;
    justify-content: center;
    color: white;
}

@media (max-width: 1200px){
    .flex-container{
        flex-direction: column;
    }
    div{
        width: 50%;
    }
    div#secondDiv{
        order: -1;
    }
}

.flex-container>div{
    /* background-color: darkkhaki; */
    width: 400px;
    height: 550px;
    margin: 10px;
}

#grid-container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    /* background-color: aquamarine; */
    grid-template-areas: 
    'left1 main rightTop'
    'left2 main right'
    'left3 main rightBot';
    gap: 0.2rem;
    padding: 1rem;
    height: 500px;
    min-width: 33%;
}

.svgArrow{
    width: 50px;
    height: 100px;
    vertical-align:bottom;
    transform: rotate(180deg);
    fill: white;
}